h1{
  text-decoration: underline;
  text-align: center;
}

.spanBtnSubmit{
  text-decoration: underline;
}

button{
  background-color:lime;
}

.radio{
  padding-left: 20px;
}

#formQuestions{
  display: none;
}